.action-button {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--back-color);
  border-radius: 4px;
  background-color: var(--action-color);
}

.action-button.disabled {
  cursor: not-allowed;
  background-color: var(--elback-color);
  color: var(--info-color);
}

.ar-button {
  height: 70px;
  line-height: 70px;
  background-color: var(--action-color);
  text-align: center;
  color: var(--back-color);
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}
